body {position: relative; background: #999999}
.page-play {
    position: relative;
    height: 100vh;
}
.page-wrap {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    filter: blur(50px) brightness(0.5);
    z-index: -1;
}

/*手柄区域CSS*/

section.needle {
    width: 84px;
    height: 122px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -20px;
    z-index: 10;
    background: url("//i.loli.net/2017/10/18/59e74ff99bfdc.png") no-repeat center;
    background-size: cover;
    transform: rotateZ(0deg);
    transform-origin: 10% -2%;
    transition: transform .5s;
}
section.needle.needle-pause {
    transform: rotateZ(-30deg);
    transform-origin: 10% -2%;
    transition: transform .5s;
}

/*黑胶播放器区域CSS*/

section.disk {
    padding-top: 63px;
}
section.disk .disk-wrap {
    position: relative;
}
section.disk .disk-wrap .circle {
    width: 248px;
    height: 248px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
section.disk .disk-wrap .circle:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url("//i.loli.net/2017/10/18/59e74ff9d5949.png") no-repeat center;
    background-size: cover;
    z-index: 2;
}
section.disk .disk-wrap .circle:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url("//i.loli.net/2017/10/18/59e74ff99e22a.png") no-repeat center;
    background-size: cover;
    z-index: 3;
}
section.disk .disk-wrap .circle img {
    width: 154px;
    height: 154px;
}
section.disk .disk-wrap .circle.playing>img,
section.disk .disk-wrap .circle.playing:after{
    animation: circling 5s infinite linear;
}
section.disk .disk-wrap .circle.playing.pause>img,
section.disk .disk-wrap .circle.playing.pause:after {
    animation-play-state: paused;
    -webkit-animation-play-state: paused !important;
}
@keyframes circling {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

.icon-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    z-index: 20;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-wrap .icon {
    width: 50px;
    height: 50px;
}
.icon-wrap .icon-pause-white {
    display: none;
}
.icon-wrap.playing .icon-pause-white {
    display: block;
}
.icon-wrap.playing .icon-play-white {
    display: none;
}

    /*歌词区域CSS*/

section.lyric-wrap{
    margin-top: 25px;
}
section.lyric-wrap .lyric-title{
    font-size:15px;
    line-height: 1.1;
    padding: 0 35px;
    color: #fefefe;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
}
section.lyric-wrap .lyric-info {
    font-size:13px;
    line-height: 1.5;
    height: 74px;
    margin-top:14px;
    overflow: hidden;
}
section.lyric-wrap .lyric-info .lyric-lines {
    padding: 0 35px;
    text-align: center;
}
.lyric-lines p {
    color: rgba(255,255,255,.6);
}
.lyric-lines p.active {
    color: #fff;
}
/*底部区域CSS*/

section.footer-wrap {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
}
section.footer-wrap .footer-button{
    display: flex;
    padding: 0 35px;
    max-width: 320px;
    margin: 0 auto;
    text-align: center;
}
section.footer-wrap .footer-button span {
    width: 100%;
    padding: 10px 0;
    font-size: 15px;
    line-height: 1;
    border: 1px solid #d43b32;
    border-radius: 4px;
}
section.footer-wrap .footer-button span.open {
    color: #d43b32;
}
section.footer-wrap .footer-button span.download {
    margin-left: 12px;
    color: #fff;
    background-color: #d43b32;
}